/* Will be compiled down to a single stylesheet if you use grunt watch for SASS pre-processing */

html {
  /* Defaults css for cssmin process */
  background-color: transparent;
}
h1{
  font: "arial-black";
}
.cats {
  display: inline-block;


    }
.cats ul{
    list-style:none;
    padding:0;
}
.cats li{
  float:left;
}
